In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import operator
import seaborn as sb
import plotly.express as px

In [24]:
banking_file = pd.read_csv("../data/banking.csv")
banking_file

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,59,retired,married,high.school,unknown,no,yes,telephone,jun,thu,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1,0
41184,31,housemaid,married,basic.4y,unknown,no,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,0
41185,42,admin.,single,university.degree,unknown,yes,yes,telephone,may,wed,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
41186,48,technician,married,professional.course,no,no,yes,telephone,oct,tue,...,2,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5,0
41187,25,student,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0

In [25]:
Y_banking = list(banking_file['y'])
unique, counts = np.unique(Y_banking, return_counts=True)
print(unique, counts)

[0 1] [36548  4640]

In [26]:
banking_file.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

In [27]:
columns = banking_file.columns
for i in range(len(columns)):
    
    print("Column name", columns[i])
    vals = banking_file[columns[i]]

    unique, counts = np.unique(vals, return_counts=True)
    d = dict(zip(unique, counts))
    print(d)

Column name age
{17: 5, 18: 28, 19: 42, 20: 65, 21: 102, 22: 137, 23: 226, 24: 463, 25: 598, 26: 698, 27: 851, 28: 1001, 29: 1453, 30: 1714, 31: 1947, 32: 1846, 33: 1833, 34: 1745, 35: 1759, 36: 1780, 37: 1475, 38: 1407, 39: 1432, 40: 1161, 41: 1278, 42: 1142, 43: 1055, 44: 1011, 45: 1103, 46: 1030, 47: 928, 48: 979, 49: 839, 50: 875, 51: 754, 52: 779, 53: 733, 54: 684, 55: 648, 56: 704, 57: 646, 58: 576, 59: 463, 60: 283, 61: 73, 62: 62, 63: 55, 64: 57, 65: 44, 66: 57, 67: 26, 68: 33, 69: 34, 70: 47, 71: 53, 72: 34, 73: 34, 74: 32, 75: 24, 76: 34, 77: 20, 78: 27, 79: 14, 80: 31, 81: 20, 82: 17, 83: 17, 84: 7, 85: 15, 86: 8, 87: 1, 88: 22, 89: 2, 91: 2, 92: 4, 94: 1, 95: 1, 98: 2}
Column name job
{'admin.': 10422, 'blue-collar': 9254, 'entrepreneur': 1456, 'housemaid': 1060, 'management': 2924, 'retired': 1720, 'self-employed': 1421, 'services': 3969, 'student': 875, 'technician': 6743, 'unemployed': 1014, 'unknown': 330}
Column name marital
{'divorced': 4612, 'married': 24928, 'single': 11568, 'unknown': 80}
Column name education
{'basic.4y': 4176, 'basic.6y': 2292, 'basic.9y': 6045, 'high.school': 9515, 'illiterate': 18, 'professional.course': 5243, 'university.degree': 12168, 'unknown': 1731}
Column name default
{'no': 32588, 'unknown': 8597, 'yes': 3}
Column name housing
{'no': 18622, 'unknown': 990, 'yes': 21576}
Column name loan
{'no': 33950, 'unknown': 990, 'yes': 6248}
Column name contact
{'cellular': 26144, 'telephone': 15044}
Column name month
{'apr': 2632, 'aug': 6178, 'dec': 182, 'jul': 7174, 'jun': 5318, 'mar': 546, 'may': 13769, 'nov': 4101, 'oct': 718, 'sep': 570}
Column name day_of_week
{'fri': 7827, 'mon': 8514, 'thu': 8623, 'tue': 8090, 'wed': 8134}
Column name duration
{0: 4, 1: 3, 2: 1, 3: 3, 4: 12, 5: 30, 6: 37, 7: 54, 8: 69, 9: 77, 10: 72, 11: 81, 12: 65, 13: 77, 14: 70, 15: 68, 16: 80, 17: 76, 18: 84, 19: 61, 20: 61, 21: 73, 22: 76, 23: 65, 24: 64, 25: 65, 26: 61, 27: 65, 28: 49, 29: 67, 30: 54, 31: 63, 32: 42, 33: 46, 34: 68, 35: 67, 36: 82, 37: 70, 38: 60, 39: 71, 40: 66, 41: 90, 42: 81, 43: 79, 44: 85, 45: 70, 46: 77, 47: 73, 48: 92, 49: 96, 50: 96, 51: 101, 52: 102, 53: 93, 54: 106, 55: 121, 56: 110, 57: 109, 58: 110, 59: 131, 60: 105, 61: 123, 62: 108, 63: 127, 64: 139, 65: 123, 66: 108, 67: 147, 68: 140, 69: 130, 70: 129, 71: 152, 72: 161, 73: 167, 74: 136, 75: 138, 76: 153, 77: 146, 78: 145, 79: 138, 80: 148, 81: 147, 82: 154, 83: 149, 84: 131, 85: 170, 86: 128, 87: 162, 88: 150, 89: 153, 90: 170, 91: 147, 92: 156, 93: 151, 94: 136, 95: 148, 96: 155, 97: 158, 98: 144, 99: 129, 100: 145, 101: 145, 102: 141, 103: 147, 104: 161, 105: 145, 106: 159, 107: 150, 108: 137, 109: 158, 110: 142, 111: 160, 112: 144, 113: 142, 114: 156, 115: 135, 116: 126, 117: 134, 118: 131, 119: 155, 120: 122, 121: 141, 122: 157, 123: 149, 124: 164, 125: 152, 126: 152, 127: 146, 128: 147, 129: 136, 130: 142, 131: 134, 132: 112, 133: 143, 134: 133, 135: 156, 136: 168, 137: 123, 138: 119, 139: 155, 140: 145, 141: 118, 142: 116, 143: 133, 144: 137, 145: 130, 146: 102, 147: 131, 148: 123, 149: 119, 150: 133, 151: 129, 152: 115, 153: 120, 154: 136, 155: 136, 156: 128, 157: 145, 158: 129, 159: 140, 160: 137, 161: 129, 162: 106, 163: 113, 164: 130, 165: 136, 166: 142, 167: 105, 168: 131, 169: 106, 170: 100, 171: 115, 172: 123, 173: 125, 174: 122, 175: 115, 176: 101, 177: 106, 178: 127, 179: 108, 180: 117, 181: 113, 182: 101, 183: 90, 184: 113, 185: 114, 186: 86, 187: 108, 188: 114, 189: 114, 190: 96, 191: 109, 192: 104, 193: 106, 194: 94, 195: 88, 196: 88, 197: 107, 198: 107, 199: 95, 200: 108, 201: 110, 202: 96, 203: 93, 204: 91, 205: 87, 206: 92, 207: 114, 208: 90, 209: 94, 210: 100, 211: 108, 212: 93, 213: 90, 214: 91, 215: 91, 216: 80, 217: 92, 218: 76, 219: 85, 220: 86, 221: 89, 222: 93, 223: 69, 224: 73, 225: 90, 226: 93, 227: 82, 228: 73, 229: 69, 230: 82, 231: 79, 232: 75, 233: 61, 234: 78, 235: 62, 236: 72, 237: 66, 238: 76, 239: 92, 240: 87, 241: 74, 242: 58, 243: 79, 244: 75, 245: 91, 246: 79, 247: 85, 248: 70, 249: 76, 250: 80, 251: 83, 252: 80, 253: 65, 254: 72, 255: 72, 256: 65, 257: 71, 258: 68, 259: 71, 260: 61, 261: 62, 262: 72, 263: 74, 264: 61, 265: 66, 266: 58, 267: 72, 268: 71, 269: 54, 270: 57, 271: 57, 272: 67, 273: 60, 274: 56, 275: 56, 276: 49, 277: 63, 278: 53, 279: 43, 280: 57, 281: 61, 282: 56, 283: 62, 284: 53, 285: 60, 286: 48, 287: 46, 288: 57, 289: 53, 290: 56, 291: 59, 292: 53, 293: 62, 294: 60, 295: 67, 296: 57, 297: 63, 298: 55, 299: 47, 300: 46, 301: 62, 302: 46, 303: 39, 304: 54, 305: 62, 306: 58, 307: 37, 308: 41, 309: 44, 310: 33, 311: 45, 312: 49, 313: 50, 314: 55, 315: 39, 316: 45, 317: 57, 318: 56, 319: 46, 320: 47, 321: 35, 322: 57, 323: 48, 324: 53, 325: 42, 326: 50, 327: 41, 328: 49, 329: 60, 330: 28, 331: 35, 332: 53, 333: 55, 334: 42, 335: 42, 336: 40, 337: 47, 338: 30, 339: 54, 340: 51, 341: 36, 342: 46, 343: 39, 344: 41, 345: 56, 346: 41, 347: 44, 348: 30, 349: 40, 350: 38, 351: 34, 352: 40, 353: 42, 354: 41, 355: 44, 356: 28, 357: 29, 358: 45, 359: 43, 360: 50, 361: 45, 362: 44, 363: 38, 364: 44, 365: 31, 366: 33, 367: 35, 368: 28, 369: 40, 370: 42, 371: 33, 372: 29, 373: 23, 374: 36, 375: 29, 376: 32, 377: 39, 378: 39, 379: 32, 380: 28, 381: 30, 382: 23, 383: 37, 384: 33, 385: 34, 386: 40, 387: 29, 388: 34, 389: 29, 390: 31, 391: 27, 392: 32, 393: 28, 394: 43, 395: 32, 396: 40, 397: 27, 398: 34, 399: 38, 400: 35, 401: 26, 402: 27, 403: 17, 404: 31, 405: 26, 406: 32, 407: 28, 408: 32, 409: 32, 410: 28, 411: 29, 412: 25, 413: 27, 414: 28, 415: 26, 416: 19, 417: 25, 418: 31, 419: 25, 420: 30, 421: 25, 422: 34, 423: 21, 424: 19, 425: 23, 426: 23, 427: 30, 428: 23, 429: 22, 430: 26, 431: 28, 432: 28, 433: 23, 434: 19, 435: 26, 436: 23, 437: 23, 438: 24, 439: 23, 440: 15, 441: 19, 442: 28, 443: 19, 444: 21, 445: 32, 446: 29, 447: 20, 448: 18, 449: 21, 450: 12, 451: 20, 452: 28, 453: 18, 454: 18, 455: 25, 456: 25, 457: 16, 458: 17, 459: 19, 460: 29, 461: 19, 462: 21, 463: 20, 464: 31, 465: 22, 466: 27, 467: 23, 468: 14, 469: 12, 470: 22, 471: 26, 472: 26, 473: 27, 474: 17, 475: 19, 476: 18, 477: 19, 478: 9, 479: 27, 480: 21, 481: 16, 482: 20, 483: 27, 484: 21, 485: 21, 486: 20, 487: 22, 488: 14, 489: 20, 490: 18, 491: 20, 492: 17, 493: 20, 494: 15, 495: 11, 496: 11, 497: 10, 498: 23, 499: 9, 500: 25, 501: 19, 502: 16, 503: 14, 504: 26, 505: 14, 506: 17, 507: 20, 508: 18, 509: 18, 510: 14, 511: 17, 512: 13, 513: 24, 514: 20, 515: 18, 516: 15, 517: 18, 518: 18, 519: 14, 520: 19, 521: 14, 522: 13, 523: 21, 524: 14, 525: 14, 526: 12, 527: 10, 528: 23, 529: 18, 530: 22, 531: 16, 532: 22, 533: 8, 534: 14, 535: 15, 536: 23, 537: 12, 538: 11, 539: 10, 540: 10, 541: 19, 542: 11, 543: 22, 544: 19, 545: 15, 546: 14, 547: 12, 548: 12, 549: 15, 550: 12, 551: 19, 552: 13, 553: 16, 554: 18, 555: 9, 556: 11, 557: 11, 558: 11, 559: 20, 560: 11, 561: 16, 562: 14, 563: 15, 564: 9, 565: 14, 566: 16, 567: 15, 568: 11, 569: 14, 570: 13, 571: 7, 572: 9, 573: 8, 574: 18, 575: 9, 576: 16, 577: 15, 578: 14, 579: 19, 580: 16, 581: 11, 582: 15, 583: 14, 584: 13, 585: 14, 586: 12, 587: 8, 588: 15, 589: 12, 590: 19, 591: 12, 592: 11, 593: 11, 594: 8, 595: 13, 596: 10, 597: 19, 598: 6, 599: 15, 600: 14, 601: 9, 602: 6, 603: 9, 604: 20, 605: 12, 606: 14, 607: 13, 608: 12, 609: 18, 610: 9, 611: 16, 612: 13, 613: 8, 614: 15, 615: 9, 616: 9, 617: 11, 618: 19, 619: 9, 620: 6, 621: 5, 622: 13, 623: 16, 624: 8, 625: 9, 626: 9, 627: 12, 628: 10, 629: 11, 630: 15, 631: 6, 632: 11, 633: 18, 634: 13, 635: 10, 636: 10, 637: 11, 638: 14, 639: 9, 640: 9, 641: 10, 642: 10, 643: 15, 644: 10, 645: 8, 646: 5, 647: 9, 648: 8, 649: 9, 650: 9, 651: 13, 652: 15, 653: 9, 654: 13, 655: 7, 656: 8, 657: 11, 658: 9, 659: 14, 660: 8, 661: 10, 662: 12, 663: 11, 664: 7, 665: 10, 666: 7, 667: 12, 668: 12, 669: 7, 670: 9, 671: 8, 672: 6, 673: 11, 674: 9, 675: 9, 676: 14, 677: 4, 678: 7, 679: 12, 680: 9, 681: 7, 682: 6, 683: 7, 684: 5, 685: 8, 686: 12, 687: 8, 688: 6, 689: 9, 690: 10, 691: 12, 692: 8, 693: 7, 694: 4, 695: 11, 696: 8, 697: 7, 698: 10, 699: 10, 700: 17, 701: 5, 702: 7, 703: 8, 704: 6, 705: 14, 706: 9, 707: 6, 708: 3, 709: 10, 710: 4, 711: 8, 712: 13, 713: 6, 714: 8, 715: 7, 716: 12, 717: 9, 718: 8, 719: 6, 720: 12, 721: 6, 722: 13, 723: 7, 724: 5, 725: 8, 726: 5, 727: 6, 728: 11, 729: 10, 730: 10, 731: 7, 732: 8, 733: 10, 734: 6, 735: 5, 736: 6, 737: 3, 738: 9, 739: 6, 740: 7, 741: 5, 742: 12, 743: 4, 744: 17, 745: 6, 746: 8, 747: 9, 748: 5, 749: 6, 750: 5, 751: 2, 752: 2, 753: 8, 754: 7, 755: 4, 756: 7, 757: 6, 758: 7, 759: 3, 760: 3, 761: 8, 762: 7, 763: 10, 764: 8, 765: 4, 766: 6, 767: 8, 768: 9, 769: 4, 770: 4, 771: 10, 772: 9, 773: 8, 774: 4, 775: 9, 776: 5, 777: 6, 778: 2, 779: 4, 780: 7, 781: 8, 782: 3, 783: 3, 784: 5, 785: 3, 786: 8, 787: 9, 788: 12, 789: 5, 790: 5, 791: 4, 792: 8, 793: 6, 794: 5, 795: 5, 796: 11, 797: 5, 798: 5, 799: 6, 800: 10, 801: 4, 802: 6, 803: 5, 804: 6, 805: 6, 806: 4, 807: 4, 808: 10, 809: 5, 810: 4, 811: 5, 812: 6, 813: 8, 814: 4, 815: 8, 816: 6, 817: 4, 818: 3, 819: 5, 820: 6, 821: 3, 822: 3, 823: 3, 824: 7, 825: 9, 826: 4, 827: 6, 828: 5, 829: 7, 830: 4, 831: 2, 832: 6, 833: 5, 834: 9, 835: 9, 836: 6, 837: 9, 838: 6, 839: 2, 840: 2, 841: 2, 843: 8, 844: 6, 845: 3, 846: 4, 847: 6, 848: 3, 849: 6, 850: 7, 851: 5, 852: 3, 853: 4, 854: 8, 855: 5, 856: 5, 857: 6, 858: 4, 859: 1, 860: 5, 861: 4, 862: 6, 863: 6, 864: 4, 865: 2, 866: 1, 867: 8, 868: 2, 869: 4, 870: 4, 871: 5, 872: 1, 873: 5, 874: 5, 875: 3, 876: 4, 877: 3, 878: 6, 879: 2, 880: 3, 881: 5, 882: 8, 883: 2, 884: 7, 885: 4, 886: 4, 888: 4, 889: 5, 890: 4, 891: 4, 892: 2, 893: 7, 894: 4, 895: 7, 896: 5, 897: 5, 898: 5, 899: 6, 900: 3, 901: 4, 902: 7, 903: 7, 904: 4, 905: 4, 906: 3, 907: 1, 908: 5, 909: 1, 910: 3, 911: 8, 912: 2, 913: 2, 915: 2, 916: 4, 917: 2, 918: 3, 919: 5, 920: 5, 921: 5, 922: 3, 923: 3, 924: 8, 925: 3, 926: 5, 927: 2, 928: 1, 929: 2, 930: 4, 931: 1, 932: 2, 933: 4, 934: 2, 935: 7, 936: 5, 937: 1, 938: 2, 939: 2, 940: 4, 941: 1, 942: 3, 943: 3, 944: 3, 945: 2, 946: 3, 947: 3, 949: 3, 950: 2, 951: 3, 952: 9, 953: 6, 954: 3, 955: 7, 956: 6, 957: 5, 958: 5, 959: 1, 960: 1, 961: 4, 962: 2, 963: 4, 964: 3, 965: 2, 966: 4, 967: 3, 968: 6, 969: 1, 970: 2, 971: 3, 972: 2, 973: 4, 974: 3, 975: 2, 976: 2, 977: 2, 978: 2, 979: 4, 980: 1, 981: 2, 982: 3, 983: 3, 984: 10, 985: 3, 986: 3, 987: 1, 988: 4, 989: 2, 990: 4, 991: 2, 992: 5, 993: 4, 994: 3, 996: 3, 997: 2, 998: 1, 999: 2, 1000: 5, 1001: 3, 1002: 5, 1003: 2, 1005: 2, 1007: 4, 1008: 3, 1009: 4, 1010: 2, 1011: 4, 1012: 3, 1013: 3, 1014: 3, 1015: 3, 1017: 4, 1018: 3, 1019: 3, 1020: 3, 1021: 1, 1022: 3, 1023: 2, 1024: 2, 1025: 4, 1026: 2, 1027: 4, 1028: 3, 1029: 1, 1030: 4, 1031: 2, 1032: 5, 1033: 1, 1034: 3, 1035: 1, 1036: 3, 1037: 3, 1038: 4, 1039: 1, 1040: 1, 1041: 2, 1042: 4, 1043: 1, 1044: 5, 1045: 3, 1046: 3, 1047: 1, 1048: 1, 1049: 3, 1051: 4, 1052: 1, 1053: 1, 1054: 1, 1055: 2, 1056: 3, 1057: 2, 1058: 2, 1059: 4, 1060: 3, 1061: 2, 1062: 4, 1063: 5, 1064: 4, 1065: 4, 1066: 2, 1067: 1, 1068: 2, 1070: 2, 1071: 2, 1072: 1, 1073: 3, 1074: 3, 1075: 2, 1076: 3, 1077: 4, 1078: 2, 1079: 1, 1080: 5, 1081: 4, 1082: 2, 1083: 2, 1084: 3, 1085: 2, 1087: 3, 1088: 3, 1089: 4, 1090: 3, 1091: 3, 1092: 3, 1093: 3, 1094: 4, 1095: 1, 1096: 2, 1097: 2, 1098: 2, 1099: 1, 1100: 2, 1101: 3, 1102: 1, 1103: 1, 1104: 1, 1105: 1, 1106: 6, 1108: 1, 1109: 2, 1110: 3, 1111: 4, 1112: 2, 1114: 2, 1117: 2, 1118: 3, 1119: 2, 1120: 5, 1121: 3, 1122: 2, 1123: 1, 1124: 1, 1125: 1, 1126: 2, 1127: 3, 1128: 1, 1129: 3, 1130: 5, 1131: 1, 1132: 3, 1133: 1, 1134: 3, 1135: 3, 1136: 1, 1137: 1, 1138: 3, 1139: 3, 1140: 1, 1141: 4, 1142: 2, 1143: 4, 1144: 3, 1145: 2, 1147: 2, 1148: 4, 1149: 3, 1150: 3, 1151: 2, 1152: 3, 1153: 2, 1154: 1, 1156: 5, 1161: 5, 1162: 3, 1164: 1, 1165: 3, 1166: 4, 1167: 1, 1168: 1, 1169: 1, 1170: 1, 1171: 3, 1173: 3, 1174: 1, 1175: 2, 1176: 3, 1178: 4, 1180: 2, 1181: 2, 1182: 2, 1183: 2, 1184: 2, 1185: 2, 1186: 2, 1187: 4, 1190: 2, 1191: 1, 1192: 1, 1193: 3, 1195: 2, 1196: 1, 1197: 2, 1199: 3, 1200: 2, 1201: 2, 1202: 1, 1203: 3, 1204: 1, 1205: 4, 1206: 5, 1207: 2, 1208: 2, 1210: 4, 1211: 1, 1212: 2, 1214: 1, 1217: 2, 1218: 2, 1220: 1, 1221: 2, 1222: 3, 1223: 2, 1224: 4, 1225: 1, 1226: 3, 1227: 1, 1228: 1, 1230: 2, 1231: 2, 1232: 1, 1233: 1, 1234: 1, 1236: 1, 1237: 1, 1238: 2, 1239: 1, 1240: 1, 1241: 4, 1242: 3, 1243: 2, 1244: 1, 1245: 1, 1246: 1, 1248: 2, 1250: 1, 1252: 1, 1254: 2, 1255: 1, 1256: 1, 1257: 1, 1258: 2, 1259: 3, 1260: 1, 1262: 1, 1263: 1, 1265: 1, 1266: 1, 1267: 1, 1268: 2, 1269: 1, 1271: 3, 1272: 3, 1273: 1, 1275: 1, 1276: 3, 1277: 2, 1279: 1, 1281: 2, 1282: 1, 1283: 1, 1285: 1, 1286: 1, 1287: 1, 1288: 4, 1290: 1, 1291: 1, 1293: 1, 1294: 1, 1297: 2, 1298: 4, 1300: 1, 1302: 1, 1303: 1, 1306: 1, 1307: 4, 1309: 2, 1310: 1, 1311: 3, 1313: 2, 1317: 2, 1318: 1, 1319: 2, 1321: 2, 1323: 1, 1326: 1, 1327: 2, 1328: 1, 1329: 2, 1330: 3, 1331: 1, 1332: 2, 1333: 1, 1334: 2, 1336: 4, 1337: 1, 1339: 2, 1340: 3, 1341: 1, 1342: 1, 1344: 3, 1345: 1, 1346: 2, 1347: 1, 1348: 1, 1349: 1, 1352: 1, 1353: 2, 1356: 1, 1357: 2, 1359: 2, 1360: 2, 1361: 1, 1363: 2, 1364: 1, 1365: 1, 1366: 1, 1368: 1, 1369: 2, 1370: 2, 1372: 1, 1373: 3, 1374: 1, 1376: 1, 1380: 1, 1386: 2, 1388: 2, 1389: 2, 1390: 1, 1391: 1, 1392: 2, 1394: 1, 1395: 1, 1397: 2, 1398: 1, 1399: 1, 1405: 1, 1407: 1, 1408: 3, 1410: 1, 1411: 1, 1412: 1, 1416: 1, 1422: 3, 1423: 1, 1424: 1, 1425: 1, 1426: 2, 1432: 1, 1434: 2, 1435: 2, 1437: 1, 1438: 1, 1439: 1, 1440: 1, 1441: 1, 1446: 2, 1447: 1, 1448: 3, 1449: 2, 1452: 3, 1456: 1, 1460: 1, 1461: 2, 1462: 2, 1463: 1, 1464: 1, 1467: 2, 1468: 1, 1469: 1, 1471: 1, 1472: 2, 1473: 1, 1476: 3, 1478: 1, 1479: 1, 1480: 1, 1487: 2, 1488: 1, 1489: 1, 1490: 1, 1491: 1, 1492: 1, 1495: 1, 1499: 1, 1500: 1, 1502: 1, 1503: 3, 1504: 1, 1505: 1, 1508: 1, 1512: 1, 1514: 1, 1516: 2, 1521: 1, 1528: 1, 1529: 2, 1530: 1, 1531: 1, 1532: 2, 1534: 1, 1540: 1, 1543: 2, 1545: 1, 1548: 1, 1550: 1, 1551: 1, 1552: 1, 1554: 1, 1555: 1, 1556: 1, 1559: 1, 1563: 1, 1567: 2, 1569: 1, 1571: 1, 1573: 2, 1574: 2, 1575: 1, 1576: 3, 1579: 2, 1580: 1, 1581: 1, 1584: 1, 1590: 1, 1594: 1, 1597: 1, 1598: 2, 1602: 2, 1603: 1, 1606: 1, 1608: 1, 1611: 1, 1613: 1, 1615: 1, 1616: 1, 1617: 1, 1618: 1, 1622: 1, 1623: 1, 1624: 1, 1628: 1, 1640: 1, 1642: 2, 1649: 1, 1662: 1, 1663: 1, 1665: 1, 1666: 1, 1669: 1, 1673: 1, 1677: 1, 1681: 1, 1689: 2, 1692: 1, 1697: 1, 1707: 1, 1710: 1, 1713: 1, 1720: 2, 1721: 2, 1723: 1, 1730: 1, 1735: 2, 1739: 1, 1740: 1, 1745: 1, 1756: 1, 1767: 1, 1776: 1, 1777: 1, 1788: 1, 1804: 1, 1805: 1, 1806: 2, 1809: 1, 1816: 1, 1817: 1, 1820: 1, 1833: 1, 1834: 1, 1842: 1, 1848: 1, 1850: 1, 1855: 2, 1867: 1, 1868: 1, 1869: 1, 1871: 2, 1877: 2, 1880: 1, 1882: 1, 1906: 1, 1925: 1, 1934: 1, 1946: 1, 1954: 1, 1957: 1, 1958: 1, 1960: 1, 1962: 1, 1966: 1, 1970: 1, 1973: 1, 1975: 1, 1978: 1, 1980: 1, 1992: 1, 1994: 1, 2015: 1, 2016: 2, 2025: 1, 2028: 1, 2029: 1, 2033: 1, 2035: 1, 2053: 1, 2055: 1, 2062: 1, 2078: 1, 2087: 1, 2089: 1, 2093: 1, 2122: 1, 2129: 1, 2139: 1, 2184: 1, 2187: 1, 2191: 1, 2203: 1, 2219: 1, 2231: 1, 2260: 1, 2299: 1, 2301: 1, 2316: 1, 2372: 1, 2420: 1, 2429: 1, 2453: 1, 2456: 1, 2462: 2, 2486: 1, 2516: 1, 2621: 1, 2635: 1, 2653: 1, 2680: 1, 2692: 1, 2769: 1, 2870: 1, 2926: 1, 3076: 1, 3078: 1, 3094: 1, 3183: 1, 3253: 1, 3284: 1, 3322: 1, 3366: 1, 3422: 1, 3509: 1, 3631: 1, 3643: 1, 3785: 1, 4199: 1, 4918: 1}
Column name campaign
{1: 17642, 2: 10570, 3: 5341, 4: 2651, 5: 1599, 6: 979, 7: 629, 8: 400, 9: 283, 10: 225, 11: 177, 12: 125, 13: 92, 14: 69, 15: 51, 16: 51, 17: 58, 18: 33, 19: 26, 20: 30, 21: 24, 22: 17, 23: 16, 24: 15, 25: 8, 26: 8, 27: 11, 28: 8, 29: 10, 30: 7, 31: 7, 32: 4, 33: 4, 34: 3, 35: 5, 37: 1, 39: 1, 40: 2, 41: 1, 42: 2, 43: 2, 56: 1}
Column name pdays
{0: 15, 1: 26, 2: 61, 3: 439, 4: 118, 5: 46, 6: 412, 7: 60, 8: 18, 9: 64, 10: 52, 11: 28, 12: 58, 13: 36, 14: 20, 15: 24, 16: 11, 17: 8, 18: 7, 19: 3, 20: 1, 21: 2, 22: 3, 25: 1, 26: 1, 27: 1, 999: 39673}
Column name previous
{0: 35563, 1: 4561, 2: 754, 3: 216, 4: 70, 5: 18, 6: 5, 7: 1}
Column name poutcome
{'failure': 4252, 'nonexistent': 35563, 'success': 1373}
Column name emp_var_rate
{-3.4: 1071, -3.0: 172, -2.9: 1663, -1.8: 9184, -1.7: 773, -1.1: 635, -0.2: 10, -0.1: 3683, 1.1: 7763, 1.4: 16234}
Column name cons_price_idx
{92.201: 770, 92.379: 267, 92.431: 447, 92.469: 178, 92.649: 357, 92.713: 172, 92.756: 10, 92.843: 282, 92.893: 5794, 92.963: 715, 93.075: 2458, 93.2: 3616, 93.369: 264, 93.444: 5175, 93.749: 174, 93.798: 67, 93.876: 212, 93.918: 6685, 93.994: 7763, 94.027: 233, 94.055: 229, 94.199: 303, 94.215: 311, 94.465: 4374, 94.601: 204, 94.767: 128}
Column name cons_conf_idx
{-50.8: 128, -50.0: 282, -49.5: 204, -47.1: 2458, -46.2: 5794, -45.9: 10, -42.7: 6685, -42.0: 3616, -41.8: 4374, -40.8: 715, -40.4: 67, -40.3: 311, -40.0: 212, -39.8: 229, -38.3: 233, -37.5: 303, -36.4: 7763, -36.1: 5175, -34.8: 264, -34.6: 174, -33.6: 178, -33.0: 172, -31.4: 770, -30.1: 357, -29.8: 267, -26.9: 447}
Column name euribor3m

In [28]:
cleanup_cols = {"job": {'admin.': 1, 'blue-collar': 2, 'entrepreneur': 3, 'housemaid': 4, 'management': 5, 'retired': 6, 'self-employed': 7, 'services': 8, 'student': 9, 'technician': 10, 'unemployed': 11, 'unknown': 12}, 
                "education": {'basic.4y': 1, 'basic.6y': 2, 'basic.9y': 3, 'high.school': 4, 'illiterate': 5, 'professional.course': 6, 'university.degree': 7, 'unknown': 8}, 
                "marital": {'divorced': 3, 'married': 2, 'single': 1, 'unknown': 4}, 
                "housing": {'no': 1, 'unknown': 3, 'yes': 2},
                 "loan": {'no':1, 'unknown': 3, 'yes': 2}, 
                 "contact":{'cellular': 1, 'telephone': 2}, 
                 "month": {'apr': 2 , 'aug': 6, 'dec': 10, 'jul': 5, 'jun': 4, 'mar': 1 , 'may': 3 , 'nov': 9, 'oct': 8, 'sep': 7}, 
                 "day_of_week": {'fri': 5, 'mon': 1, 'thu': 4, 'tue': 2, 'wed': 3},
                 "poutcome": {'failure': 2, 'nonexistent': 3, 'success': 1}}

In [29]:
banking_file = banking_file.replace(cleanup_cols)
banking_file.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,2,2,1,unknown,2,1,1,6,4,...,1,999,0,3,1.4,93.444,-36.1,4.963,5228.1,0
1,53,10,2,8,no,1,1,1,9,5,...,1,999,0,3,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,5,1,7,no,2,1,1,4,4,...,3,6,2,1,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,8,2,4,no,1,1,1,2,5,...,2,999,0,3,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,6,2,1,no,2,1,1,6,5,...,1,3,1,1,-2.9,92.201,-31.4,0.869,5076.2,1

In [30]:
banking_file = banking_file.drop(["default"], axis=1)
banking_file.columns

Index(['age', 'job', 'marital', 'education', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx',
       'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [31]:
banking_file

,age,job,marital,education,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,2,2,1,2,1,1,6,4,210,1,999,0,3,1.4,93.444,-36.1,4.963,5228.1,0
1,53,10,2,8,1,1,1,9,5,138,1,999,0,3,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,5,1,7,2,1,1,4,4,339,3,6,2,1,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,8,2,4,1,1,1,2,5,185,2,999,0,3,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,6,2,1,2,1,1,6,5,137,1,3,1,1,-2.9,92.201,-31.4,0.869,5076.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,59,6,2,4,1,2,2,4,4,222,1,999,0,3,1.4,94.465,-41.8,4.866,5228.1,0
41184,31,4,2,1,1,1,2,3,4,196,2,999,0,3,1.1,93.994,-36.4,4.860,5191.0,0
41185,42,1,1,7,2,2,2,3,3,62,3,999,0,3,1.1,93.994,-36.4,4.857,5191.0,0
41186,48,10,2,6,1,2,2,8,2,200,2,999,0,3,-3.4,92.431,-26.9,0.742,5017.5,0
41187,25,9,1,4,1,1,2,3,5,112,4,999,0,3,1.1,93.994,-36.4,4.859,5191.0,0

In [32]:
banking_file.to_csv('../data/pre-processed_banking.csv')